DATABASE_URL=postgresql://perps_user:mysecretpasswordfordb@localhost:5432/perps_db
REDIS_URL=redis://localhost:6379
REQUEST_STREAM=backend-to-engine-trade-comms
RESPONSE_STREAM=engine-to-backend-trade-comms
LISTENER_GROUP=db-writer-group
LISTENER_GROUP_CONSUMER=db-writer
